@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Archivo+Black|Russo+One|Candal|Quicksand:400,500,700');



//fonts
//font-family: 'Candal', sans-serif;  Bold curly
//font-family: 'Russo One', sans-serif; Bold rounded / notched
//font-family: 'Rubik Mono One', sans-serif;  Bold Blocky / Rounded
//font-family: 'Archivo Black', sans-serif; Bold Sharp

$dullRed: #c76262;
$deeperRed: #c73636;

.welcome {
  color: #F6F6F6;
  background-color: #c73636;
  height: 24vh;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.32);
  border-bottom: 8px solid  #333333;
}
.title {
  color: white;
  font-family: 'Russo One', sans-serif;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -2px -1px 2px rgba(0,0,0,0.67) ;
  font-size: 100px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.homeLink {
  margin-right: 100px;
  margin-left: 100px;
  height: 200px;
  width: 250px;
  font-size: 40px;
  text-shadow: 2px 1px 2px silver;
  background-color: white;
  color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  background-position: center;
  box-shadow: inset 3px 3px 12px -4px rgba(26,26,26,0.34);
}

.homeLinkContainer {
  height: 450px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.32);

  background-color: #F6F6F6;
  display:flex;
  align-items:center;
  justify-content:center;
}

.whiteSlab {
  width: 100vw;
  height: 60px;
  box-shadow: inset 0px -6px 29px -9px rgba(0,0,0,0.2);
  background-color: white;
}
.whiteTop {
  width: 100vw;
  height: 60px;
  box-shadow: inset 0px -4px 10px -2px rgba(0,0,0,0.35);
  background-color: #333333;
}
.whiteBottom {
  margin-top: 20px;
  width: 100vw;
  height: 60px;
  box-shadow: inset 0px -4px 10px -2px rgba(0,0,0,0.35);
  background-color: white;
}
.bottomBorder {
  border-top: 8px solid #333333;
  background-color: #c73636;
  height: 100px;
}
