.welcome {
  color: #F6F6F6;
  background-color: #a02121;
  height: 30vh;
  border-bottom: 4px solid #333333;
  border-top: 4px solid white;
  display:flex;
  align-items:center;
  justify-content:center;
}
.title {
  text-shadow: 1px 1px .5px white;
  color: #1a1a1a;
  font-family: 'Cinzel', serif;
  font-size: 100px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.homeLink {
  margin-right: 100px;
  margin-left: 100px;
  border: 1.5px solid #1a1a1a;
  height: 200px;
  width: 250px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px #000000;
  border-radius: 10px;
  color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #a02121;
  background-position: center;
}

.homeLinkContainer {
  height: 450px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 4px solid #1a1a1a;
  background-color: #F6F6F6;
  display:flex;
  align-items:center;
  justify-content:center;
}
