@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300|Quicksand:300,400');


.createLibraryContainer {
  padding-right: 20px;
}

.leftContainer {
  height: 800px;
}
.libraryLabels {
  background-color: #E8E8E8;
  padding: 0;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 2px;
}


.buttons{
  height: 80px;
  padding-top: 13px;
  background-color: #E8E8E8;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 2px;
}
.createButton {
  margin-right: 10px;
}

.library {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 2px;
  background-color: #E8E8E8;
  max-height: 500px;
  padding-bottom: 20px;
  overflow: scroll;
}
.difficultyLabel {
  height: 37px;
}
.submitColumn {
  padding-top: 50px;
  padding-left: 0;
}


.libraryMenu {
  height: 200px;
}

.libraryWords {
  height: 500px;
}


.listContainer {
  overflow: scroll;
  height: 200px;
  background-color: #F6F6F6;
  border: 2px solid silver;
  border-radius: 3px;
}
.libraryWordsLeft {
  height: 500px;
  background-color: #E8E8E8;
  border: 2px solid black;
  border-radius: 3px;
}
.libraryWordsRight {
  padding-left: 10px;
  height: 500px;
  background-color: #E8E8E8;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 3px;
}
.listHeader {
  color: black;
  padding-left: 10px;
  font-size: 40px;
  font-family: 'Josefin Slab', serif;
}
.homeHeader {
  color: black;
  font-size: 40px;
  font-family: 'Josefin Slab', serif;
}
.menuHeader {
  color: black;
  text-align: center;
  padding-left: 10px;
  font-size: 40px;
  font-family: 'Josefin Slab', serif;
}
.myLibraries {
  background-color: white;
  padding-top: 10px;
  overflow: scroll;
  font-family: 'Quicksand', sans-serif;
  height: 430px;
}
.libraryList {
  padding-bottom: 10px;
}
hr.hrLibrary {
  border-color: black;
  color: black;
  margin-bottom: 8px;
  margin-top: 2px;
}
hr.hrMenu {
  border-color: black;
  color: black;
  margin-bottom: 8px;
  margin-top: 2px;
}
.leftContainer {
  height: 800px;
}
.rightContainer {
  height: 800px;
  padding-right: 100px;
}
.libraryTopRight {
  height: 200px;
}
.libraryTopLeft {
  height: 200px;
}

.leftLibraryForm {
  overflow: scroll;
  height: 500px;
  max-height: 600px;
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}
.newFormButtons {
}
.libraryControlMenu {
  height: 400px;
}
.block-display button {
  width: 50%;
  display: block;
  margin: auto;
}
.newFormContainer {
  padding-top: 10px;
}
.block-display {
  padding-top: 10px;
}
button.libButton {
  padding-left: 0;
  padding-right: 0;
  color: black;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #E8E8E8;
  justify-content: center;
  margin-bottom: 10px;
}
button.submitButton {
  color: black;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #E8E8E8;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
}
#save {
  background-color: #808080;
}

h3 {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

h3#title {
  margin-top: -15px;

}
