.playContainer {
  padding: 0 20px;
}

.playMenuContainer {

}

.playMenu {
  padding: 0px 20px;
}

.play-block-display button {
  width: 50%;
  display: block;
  margin: auto;
}

h6 {
  padding: 0 10px;
  text-align:  center;
  font-family: 'Quicksand', sans-serif;
}

button.playButton {
  padding-left: 0;
  padding-right: 0;
  color: black;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #E8E8E8;

  // border-bottom: 3px solid #c73636;
  justify-content: center;
  margin-bottom: 10px;
}
button.selected {
  padding-left: 0;
  padding-right: 0;
  color: white;
  font-size: 25px;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #c73636;
  border-bottom: 3px solid #333333;
  justify-content: center;
  margin-bottom: 10px;
}
.playList {
  text-align: center;
}
