.playContainer {
  padding: 0 20px;
  height: 680px;
}
.playMenu {
  padding: 0px 20px;
}
.play-block-display button {
  width: 50%;
  display: block;
  margin: auto;
}
h6 {
  padding: 0 10px;
  text-align:  center;
  font-family: 'Quicksand', sans-serif;
}
button.playButton {
  padding-left: 0;
  padding-right: 0;
  color: black;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #E8E8E8;
  justify-content: center;
  margin-bottom: 10px;
}
button.selected {
  padding-left: 0;
  padding-right: 0;
  color: white;
  font-size: 25px;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #c73636;
  border-bottom: 3px solid #333333;
  justify-content: center;
  margin-bottom: 10px;
}
.playList {
  text-align: center;
}

.selectedLibraries {
  padding-top: 15px;
  margin: 0 50px;
  margin-top: -10px;
  overflow: scroll;
  max-height: 200px;
}

button.playStartButton {
  margin: auto;
  margin-top: 80px;
  color: white;
  width: 400px;
  font-size: 25px;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  background-color: #c73636;
  border-bottom: 3px solid #333333;
  justify-content: center;
}

.playStartContainer {
  height: 200px;
  text-align: center;
}

.librarySelected {
  color: white;
  border-bottom: 3px solid #333333;

  padding: 3px 0;
  border-radius: 3px;
  background-color: #c73636;
  text-align: center;
}
.box {
  margin-left: 0;
  padding-left: 0;
}

#suggestedBox {
  padding-left: 10px;
}

.playerCountMenu {
  margin-left: 400px;
  justify-content: center;
  text-align: center;
}
.playerContainer {
 justify-content: center;
  margin: auto;
  text-align: center;
}

.suggestedBox {
  border-bottom: 5px solid #333333;
  border-top: 5px solid #333333;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.2);
  margin: 0 5px;
  border-radius: 5px;
  height: 600px;
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #f6f6f6;
}
